@charset "UTF-8";
.menu .menu__footer, .menus .menus__container, .operation .operation__container, .banner .location, .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px #cecece;
}
.card .card__new {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #0e9070;
  background-color: #99E2D0;
  padding: 10px 12px;
  font-size: 1.2rem;
  border-radius: 3px;
  letter-spacing: 0.3px;
}
.card .card__img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  opacity: 1;
  transition: 0.3s opacity;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card .card__img:hover {
  opacity: 0.8;
}
.card .card__title {
  width: max-content;
  padding-top: 20px;
  padding-left: 15px;
  font-size: 1.8rem;
  transition: 0.3s opacity;
}
.card .card__title:hover {
  opacity: 0.8;
}
.card .card__description {
  width: max-content;
  font-size: 1.7rem;
  font-weight: 400;
  opacity: 0.8;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 20px;
}
.card .like__icon {
  position: absolute;
  top: 185px;
  right: 20px;
  padding: 5px;
  font-size: 3rem;
  cursor: pointer;
}

.operation__step {
  max-width: 350px;
  width: 100%;
  padding: 25px;
  background-color: #f6f6f6;
  border-radius: 22px;
  box-shadow: 0px 5px 10px 0px #cecece;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.operation__step:last-child {
  margin-bottom: 0px;
}
.operation__step span {
  font-size: 1.1rem;
  color: #ffffff;
  padding: 8px 10px;
  background-color: #9356DC;
  border-radius: 50%;
  margin-left: -25px;
  transform: translateX(-50%);
}
.operation__step i {
  font-size: 2rem;
  color: #8d8d8d;
  margin-left: 20px;
  margin-right: 25px;
}
.operation__step .i-active {
  color: #9356DC;
}
.operation__step p {
  font-size: 1.6rem;
  line-height: 1.7rem;
}

@media only screen and (min-width: 940px) {
  .operation__step {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 1345px) {
  .operation__step {
    margin-bottom: 0px;
  }
}
.menuCard {
  width: 100%;
  max-width: 350px;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0px #cecece;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.menuCard .menuCard__container {
  overflow: hidden;
  width: 100%;
  padding: 15px 10px;
}
.menuCard .menuCard__title,
.menuCard .menuCard__description {
  margin-right: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuCard .menuCard__title {
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.menuCard .menuCard__description {
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.8;
}
.menuCard .menuCard__price {
  margin-right: 10px;
  font-size: 1.5rem;
  opacity: 0.9;
  margin-top: -15px;
  display: flex;
  justify-content: flex-end;
}
.menuCard .menuCard__animated {
  width: 0px;
  transition: 0.5s width;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menuCard .menuCard__icon {
  font-size: 2.5rem;
  color: #ffffff;
  padding: 25px 25px;
}
.menuCard:hover .menuCard__animated {
  width: 75px;
}
.menuCard:hover .menuCard__icon {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.menuCard:nth-child(0) {
  animation-delay: 0s;
}

.menuCard:nth-child(1) {
  animation-delay: 0.2s;
}

.menuCard:nth-child(2) {
  animation-delay: 0.4s;
}

.menuCard:nth-child(3) {
  animation-delay: 0.6s;
}

.menuCard:nth-child(4) {
  animation-delay: 0.8s;
}

.menuCard:nth-child(5) {
  animation-delay: 1s;
}

.menuCard:nth-child(6) {
  animation-delay: 1.2s;
}

.menuCard:nth-child(7) {
  animation-delay: 1.4s;
}

.menuCard:nth-child(8) {
  animation-delay: 1.6s;
}

.menuCard:nth-child(9) {
  animation-delay: 1.8s;
}

.btn {
  color: #ffffff;
  font-size: 1.6rem;
  padding: 17px 22px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 10px 0px #cecece;
  border-radius: 30px;
  opacity: 1;
  transition: 0.3s all;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 12px 10px 0px #cecece;
}

.fa-heart::before {
  content: "";
  color: #000;
  background-color: transparent;
  transition: color 0.4s ease-out;
  cursor: pointer;
}

.fa-heart:hover::before {
  color: #9356DC;
  background-color: transparent;
  font-weight: bold;
}

.navbar {
  position: relative;
  width: 100%;
  height: 65px;
  box-shadow: 0px 5px 10px 0px #cecece;
  z-index: 10;
}
.navbar .navbar__icon {
  position: absolute;
  left: 25px;
  margin-top: -8px;
  font-size: 2.2rem;
  color: #000;
  opacity: 1;
  transition: 0.3s opacity;
}
.navbar .navbar__icon:hover {
  opacity: 0.6;
}
.navbar .navbar__img {
  width: 170px;
  height: 30px;
  margin-top: 10px;
}

.header__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.footer {
  padding-top: 20px;
  padding-bottom: 35px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #353535;
  color: #ffffff;
}
.footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.footer .footer__items {
  margin-bottom: 10px;
  width: max-content;
}
.footer .footer__items:last-child {
  margin-bottom: 0px;
}
.footer .footer__items i {
  font-size: 1.6rem;
  margin-right: 10px;
}
.footer .footer__items i:hover {
  opacity: 0.8;
}
.footer .footer__items a {
  font-size: 1.6rem;
  font-weight: 400;
}
.footer .footer__items a:hover {
  opacity: 0.8;
}
@media only screen and (min-width: 940px) {
  .footer .footer__logo {
    margin-left: 25px;
  }
  .footer .footer__container {
    display: flex;
    justify-content: center;
  }
  .footer .footer__items {
    margin-right: 40px;
  }
}

.banner {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 70px;
}
.banner .location {
  position: relative;
  width: 100%;
  height: 50px;
  color: #3a3a3a;
  background-color: #eaeaea;
  z-index: 1;
}
.banner .location .location__p,
.banner .location .location__icon {
  font-size: 1.7rem;
}
.banner .location .location__p {
  font-weight: 500;
  margin-left: 18px;
  color: inherit;
}
.banner .location .location__icon {
  color: inherit;
}
.banner .banner__title {
  font-size: 2.3rem;
  line-height: 2.5rem;
  margin: 0px 44px;
  margin-top: 40px;
}
.banner .banner__p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
  opacity: 0.7;
  margin: 0px 30px;
  margin-top: 20px;
  margin-bottom: 48px;
}

.operation {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 65px;
  padding-top: 50px;
}
.operation .operation__title {
  font-size: 2.3rem;
}
.operation .operation__container {
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 15px;
}
@media only screen and (min-width: 940px) {
  .operation .operation__title {
    margin-left: 50px;
  }
}

.menus {
  background-color: #eaeaea;
  padding: 50px 20px;
}
.menus .menus__title {
  font-size: 2.3rem;
  margin-bottom: 25px;
}
.menus .menus__container {
  flex-wrap: wrap;
  gap: 20px;
}
@media only screen and (min-width: 940px) {
  .menus .menus__title {
    margin-left: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .menus .menus__container {
    gap: 50px;
    max-width: 850px;
    margin: 0px auto;
  }
}

.menu {
  position: relative;
  z-index: 10;
  padding: 0px 20px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #f6f6f6;
  margin-top: -40px;
}
.menu .menu__header {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}
.menu .menu__header .menu__title--big {
  font-size: 2.4rem;
  letter-spacing: 0.4px;
  font-family: "Shrikhand", cursive;
}
.menu .menu__header .menu__icon {
  margin-right: 10px;
  font-size: 2.7rem;
}
.menu .menu__body > * + * {
  margin-top: 35px;
}
.menu .menu__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.menu .menu__wrapper > * + * {
  margin-top: 20px;
}
.menu .menu__title {
  font-size: 1.7rem;
  font-weight: 400;
  opacity: 0.8;
  text-transform: uppercase;
}
.menu .menu__title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 8px;
  margin-bottom: 15px;
}
.menu .menu__footer {
  padding: 40px 0px;
}
@media only screen and (min-width: 700px) {
  .menu .menu__wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }
  .menu .menu__body > * + * {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .menu .menu__wrapper > * + * {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1145px) {
  .menu .menu__body {
    display: flex;
    align-items: baseline;
    gap: 50px;
  }
  .menu .menu__wrapper > * + * {
    margin-top: 20px;
  }
  .menu .menu__wrapper {
    flex-wrap: nowrap;
    display: block;
  }
  .menu .menuCard {
    width: 330px;
  }
}

@media only screen and (min-width: 1200px) {
  .menu {
    max-width: 1145px;
    min-width: 1145px;
    margin-top: -70px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0px 40px;
  }

  .menu .menuCard {
    width: 380px;
  }
}

/*# sourceMappingURL=styles.css.map */
