.fa-heart::before {
  content: "\f004";
  color: #000;
  background-color: transparent;
  transition: color 0.4s ease-out;
  cursor: pointer;
}
.fa-heart:hover::before {
  color: $color-primary;
  background-color: transparent;
  font-weight: bold;
}
