.menu {
  position: relative;
  z-index: 10;
  padding: 0px 20px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: $color-grey-light;
  margin-top: -40px;

  .menu__header {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;

    .menu__title--big {
      font-size: 2.4rem;
      letter-spacing: 0.4px;
      font-family: $font-shrikhand;
    }
  }

  .menu__body > * + * {
    margin-top: 35px;
  }

  .menu__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .menu__wrapper > * + * {
    margin-top: 20px;
  }

  .menu__title {
    font-size: 1.7rem;
    font-weight: 400;
    opacity: 0.8;
    text-transform: uppercase;
  }
  .menu__title::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: $color-third;
    margin-top: 8px;
    margin-bottom: 15px;
  }

  .menu__footer {
    @extend %center;
    padding: 40px 0px;
  }

  @media only screen and (min-width: 700px) {
    .menu__wrapper {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
    }
    .menu__body > * + * {
      margin-bottom: 30px;
      margin-top: 20px;
    }
    .menu__wrapper > * + * {
      margin-top: 0px;
    }
  }
  @media only screen and (min-width: 1145px) {
    .menu__body {
      display: flex;
      align-items: baseline;
      gap: 50px;
    }
    .menu__wrapper > * + * {
      margin-top: 20px;
    }
    .menu__wrapper {
      flex-wrap: nowrap;
      display: block;
    }
    .menuCard {
      width: 330px;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .menu {
    max-width: 1145px;
    min-width: 1145px;
    margin-top: -70px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0px 40px;
  }
  .menu .menuCard {
    width: 380px;
  }
}